.custom-grid-container {
  --grid-columns: 1;
  --grid-row-gap: 1rem;
  --grid-column-gap: 1rem;
  --grid-template: repeat(var(--grid-columns), minmax(0, 1fr));
  display: grid;
  grid-template-columns: var(--grid-template);
  row-gap: var(--grid-row-gap);
  column-gap: var(--grid-column-gap);
}

@media (max-width: 736px) {
  .custom-grid-container.grid-sm-2 {
    --grid-columns: 2;
    --grid-row-gap: 1rem;
    --grid-column-gap: 0.5rem;
  }
}

@media (min-width: 737px) {

  .custom-grid-container.grid-2,
  .custom-grid-container.grid-3,
  .custom-grid-container.grid-4,
  .custom-grid-container.grid-5,
  .custom-grid-container.grid-6 {
    --grid-columns: 2;
  }
}

@media (min-width: 1025px) {
  .custom-grid-container {
    --grid-row-gap: 2rem;
    --grid-column-gap: 1.5rem;
  }

  .custom-grid-container.grid-3,
  .custom-grid-container.grid-5,
  .custom-grid-container.grid-6 {
    --grid-columns: 3;
  }

  .custom-grid-container.grid-4 {
    --grid-columns: 4;
  }
}

@media (min-width: 1280px) {
  .custom-grid-container {
    --grid-column-gap: 2rem;
  }

  .custom-grid-container.grid-5 {
    --grid-columns: 5;
    --grid-column-gap: 1.5rem;
  }

  .custom-grid-container.grid-6 {
    --grid-columns: 6;
    --grid-column-gap: 1rem;
  }

  .custom-grid-container.custom-grid-container--desktop-widths {
    --grid-template: var(--custom-desktop-template);
  }
}

.custom-grid-container>.container-component>.wrapper {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.custom-grid-container>.container-component {
  overflow: hidden;
  margin: 0;
}

.custom-grid-container+.custom-grid-container {
  margin-top: var(--grid-row-gap);
}

.custom-grid-container .image-component>.frame.constrain-width {
  width: auto !important;
  max-width: 100%;
}