:root {
  /* ----- Core Colors ----- */
  --mini-color-primary: #5c9dff;

  /* ----- Cards Plugin ----- */
  --mini-card-padding: 2rem;
  --mini-card-padding-mobile: 1rem;
  --mini-card-border-radius: 0;
  --mini-card-bg-default: #cccccc;

  /* ----- FAQ Plugin ----- */
  --mini-faq-spacing: 0.75rem;
  --mini-faq-icon-size: 1.75rem;
  --mini-faq-icon-color: var(--mini-color-primary);

  /* ----- Grid Cluster Plugin ----- */
  /* Mobile / Default */
  --mini-grid-row-gap: 1rem;
  --mini-grid-column-gap: 1rem;

  /* Desktop (Large Screens) */
  --mini-grid-row-gap-desktop: 2rem;
  --mini-grid-column-gap-desktop: 1.5rem;
  --mini-grid-column-gap-desktop-large: 2rem;
}