/*
 * File: Carrd Theme Variables
 * Version: 0.0.0
 * Purpose: Optional CSS variables for Mini theme plugins.
 * Admin placement: Code element in HEAD.
 */
:root {
  /* Colors */
  --mini-color-primary: #EF4444;
  --mini-color-primary-hover: #AD3624;
  --mini-color-primary-dark: #041838;
  --mini-color-primary-light: #f5f5f5;
  --mini-color-text: #5D6878;
  --mini-color-border: #efefef;
  --mini-color-danger: #EF4444;
  --mini-color-success: #10b981;
  --mini-color-black: #000000;
  --mini-color-bg: var(#ffffff);
  --mini-color-accent: var(--mini-color-primary);
  --mini-overlay-bg: rgba(218, 225, 228, 0.792);

  /* Typography */
  --mini-font-family: "Wix Madefor Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  /* Buttons */
  --mini-btn-primary-bg: var(--mini-color-primary);
  --mini-btn-primary-hover-bg: var(--mini-color-primary-hover);
  --mini-btn-text: #ffffff;

  /* Links */
  --mini-link-color: var(--mini-color-primary);
  --mini-link-hover-color: var(--mini-color-primary-hover);

}